$input-border-color: #edf2f4; // 输入框边框颜色

$primary-color: #4361ee; // 主题颜色
$primary-light: #ebf0ff; // 主题颜色（亮色）

// 比主题色深一些
$second-color: #4047d7; // 次主题颜色
$second-light: #dfe7ff; // 次主题颜色（亮色）

$text-color: #333333; // 文本色

$disabled-text-color: #999999; // 禁用文本色
$disabled-bg-color: #f5f5f5; // 禁用背景色